on:
  pull_request:
  push:
    branches: [main]
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
      - run: dotnet tool restore
      - run: dotnet fable src