on:
  pull_request:
  push:
    branches: [main]
env:
  DOTNET_NOLOGO: true
jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          fetch-depth: 0
      - uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5
      - run: dotnet tool restore
      - run: dotnet fable src